body{
  background-color: #c8c7c7;
}
.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 100vh;
  width: 1400px;
  margin: 0 auto;
  position: relative;
  border-radius: 50px;
  overflow: hidden;
}

.left {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.heroImage {
  max-width: 100%;
  height: auto;
  border-bottom-right-radius: 50px;
  object-fit: cover;
}

.hashtags {
  position: absolute;
  bottom: 30px;
  left: 30px;
  display: flex;
  gap: 10px;
}

.hashtags span {
  background: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 6px 12px;
  border-radius: 20px;
  font-size: 14px;
}

.right {
  border-bottom-left-radius: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 60px;
  background-color: #fff;
}

.right h1 {
  font-size: 56px;
  line-height: 1.2;
  font-weight: 600;
  color: #111;
}

.right h1 em {
  font-style: italic;
  color: #6c756b;
}

.right p {
  margin-top: 20px;
  font-size: 18px;
  color: #555;
  max-width: 500px;
}


@media (max-width: 768px) {
  .hero{
    width: 550px;
    margin-right: 850px;
  }
  .heroImage{
    height: 100%;
  }
  .right {
    padding: 30px;
    width: 360px;
  }

  .hashtags {
    height: 50px;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%); 
    display: grid;
    grid-template-columns: repeat(2, auto); 
    gap: 8px 8px;
  }

  .hashtags span {
    background: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 3px 6px 3px 6px;
    border-radius: 20px;
    font-size: 11px;
    text-align: center;
  }
}

@media (max-width: 375px) {
  /* .heroImage{
    border-radius: 50px;
  }
  .hero {
    border: 1px solid #000;
    grid-template-columns: 1fr;
    margin: 0 auto;
  }

  .left, .right {
    padding: 20px;
  }

  .right h1 {
    font-size: 28px;
  }

  .right p {
    font-size: 14px;
    max-width: 100%;
  }

  .hashtags {
    bottom: 15px;
    left: 15px;
    gap: 5px;
  }

  .hashtags span {
    padding: 4px 8px;
    font-size: 12px;
  } */
} 
